<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <data-source>
        <name>com.mysql.jdbc.Driver</name>
        <class-name>org.h2.jdbcx.JdbcDataSource</class-name>
        <url>jdbc.mysql://localhost:3306/university</url>
    </data-source>

    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>com.example.webapp.SignUpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUp-Servlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.webapp.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login-Servlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ForgetPassServlet</servlet-name>
        <servlet-class>com.example.webapp.ForgetPassServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ForgetPassServlet</servlet-name>
        <url-pattern>/ForgetPass-Servlet</url-pattern>
    </servlet-mapping>

    <display-name>EmailFacility</display-name>
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>E-Mail</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>Pass</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>